@using Project.ExtensionMethods
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sportensity</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<header class="header">

</header>

<div class="bar">
    <div class="bar__content u-centered">
        <img class="bar__logo" src="~/media/images/logo_wit.svg" alt="sportensity"/>
        <input type="checkbox" id="inpNavToggle"/>
        <label class="bar__nav-toggle" for="inpNavToggle">
            <i class="material-icons">menu</i>
        </label>
        <nav class="nav">
            <a class="nav__link @Html.IsSelected(actions: "Index", controllers: "Home")" asp-action="Index" asp-controller="Home">Home</a>
            <a class="nav__link" href="#">Example</a>
            <a class="nav__link" href="#">Example</a>
            <a class="nav__link @Html.IsSelected(actions: "Login", controllers: "Account")" asp-action="Login" asp-controller="Account">Login</a>
        </nav>
    </div>
</div>

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
