@model IEnumerable<SchematicModel>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Exercises</th>
                    <th colspan="3">Action</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var schema in Model)
                {
                    <tr>
                        <td>@schema.SchemaName</td>
                        <td>@schema.TimeOfCreation<td>
                        <td>@schema.Exercises.Count</td>
                        <td colspan="3">
                            @Html.RouteLink("edit", "editSchematicRoute", new { id = schema.Id })
                            @Html.RouteLink("delete", "deleteSchematicRoute", new { id = schema.Id })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
</div>